/* Header */
.sticky {
    overflow: hidden;
    padding: 0px 12px;
    background: #871de2;
    position: fixed;
    top: 0px;
    margin-left: -10px;
    height: 55px;
    width: 100%;
    z-index: 999;
    opacity: 0.9;
    box-shadow: 0px 0px 10px #3d0071;
    text-align: center;
}

.sticky_ {
    top: 55px;
    width: 50px;
    background: white;
    position: absolute;
    z-index: 998;
    opacity: 0.92;
    box-shadow: 0px 0px 5px white;
}

.notsticky {
    top: 695px;
    width: 100%;
    background: white;
    position: absolute;
    z-index: 998;
    opacity: 0.92;
    box-shadow: 0px 0px 5px white;
}

h1 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: 90;
    line-height: 1.38;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    opacity: 1;
}

h2 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 34px;
    font-weight: 90;
    line-height: 1.38;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #871de2;
    opacity: 1;
    text-shadow: 0px 0px 2px #b975f4;
}

/* Gray Block */
div.block {
    z-index: 90;
    background-color: #ffffff;
    position: absolute;
    top: 75px;
    height: 605px;
    width: 480px;
    opacity: 0.48;
    box-shadow: 0px 0px 7px white;
}

/* Option Buttons */
div.options {
    z-index: 100;
    position: absolute;
    height: 70px;
    width: 430px;
    top: 80px;
}

button.tippy {
    background-color: #871de2;
}
@media (hover:hover) {
    button.tippy:hover {
        background-color: white;
        color: #56039d;
        box-shadow: 0px 0px 10px grey;
    }
}
button.panera {
    background-color: #871de2;
}
@media (hover:hover) {
    button.panera:hover {
        background-color: white;
        color: #56039d;
        box-shadow: 0px 0px 10px grey;
    }
}
button.sheetz {
    background-color: #871de2;
}
@media (hover:hover) {
    button.sheetz:hover {
        background-color: white;
        color: #56039d;
        box-shadow: 0px 0px 10px grey;
    }
}
button.moes {
    background-color: #871de2;
    margin-top: 5px;
}
@media (hover:hover) {
    button.moes:hover {
        background-color: white;
        color: #56039d;
        box-shadow: 0px 0px 10px grey;
    }
}
button.danks {
    background-color: #871de2;
}
@media (hover:hover) {
    button.danks:hover {
        background-color: white;
        color: #56039d;
        box-shadow: 0px 0px 10px grey;
    }
}
button.fords {
    background-color: #871de2;
}
@media (hover:hover) {
    button.fords:hover {
        background-color: white;
        color: #56039d;
        box-shadow: 0px 0px 10px grey;
    }
}
button.velocity {
    background-color: #871de2;
    margin-top: 5px;
}
@media (hover:hover) {
    button.velocity:hover {
        background-color: white;
        color: #56039d;
        box-shadow: 0px 0px 10px grey;
    }
}
button.social {
    background-color: #871de2;
}
@media (hover:hover) {
    button.social:hover {
        background-color: white;
        color: #56039d;
        box-shadow: 0px 0px 10px grey;
    }
}
button.east {
    background-color: #871de2;
}
@media (hover:hover) {
    button.east:hover {
        background-color: white;
        color: #56039d;
        box-shadow: 0px 0px 10px grey;
    }
}
button.bonchon {
    background-color: #871de2;
    margin-top: 5px;
}
@media (hover:hover) {
    button.bonchon:hover {
        background-color: white;
        color: #56039d;
        box-shadow: 0px 0px 10px grey;
    }
}
button.chipotle {
    background-color: #871de2;
}
@media (hover:hover) {
    button.chipotle:hover {
        background-color: white;
        color: #56039d;
        box-shadow: 0px 0px 10px grey;
    }
}
button.cava {
    background-color: #871de2;
}
@media (hover:hover) {
    button.cava:hover {
        background-color: white;
        color: #56039d;
        box-shadow: 0px 0px 10px grey;
    }
}
button.jersey {
    background-color: #871de2;
    margin-top: 5px;
}
@media (hover:hover) {
    button.jersey:hover {
        background-color: white;
        color: #56039d;
        box-shadow: 0px 0px 10px grey;
    }
}
button.jimmy {
    background-color: #871de2;
}
@media (hover:hover) {
    button.jimmy:hover {
        background-color: white;
        color: #56039d;
        box-shadow: 0px 0px 10px grey;
    }
}
button.coal {
    background-color: #871de2;
}
@media (hover:hover) {
    button.coal:hover {
        background-color: white;
        color: #56039d;
        box-shadow: 0px 0px 10px grey;
    }
}
button.sarku {
    background-color: #871de2;
    margin-top: 5px;
}
@media (hover:hover) {
    button.sarku:hover {
        background-color: white;
        color: #56039d;
        box-shadow: 0px 0px 10px grey;
    }
}
button.cfa {
    background-color: #871de2;
}
@media (hover:hover) {
    button.cfa:hover {
        background-color: white;
        color: #56039d;
        box-shadow: 0px 0px 10px grey;
    }
}
button.wawa {
    background-color: #871de2;
}
@media (hover:hover) {
    button.wawa:hover {
        background-color: white;
        color: #56039d;
        box-shadow: 0px 0px 10px grey;
    }
}

/* Function Buttons */
div.Buttons {
    z-index: 100;
    position: absolute;
    top: 570px;
    height: 70px;
    width: 430px;
}

button {
    background-color: #871de2;
    border: none;
    color: white;
    height: 50px;
    width: 140px;
    font-size: 16px;
    cursor: pointer;
    border-radius:  100px;
    text-shadow: 0px 0px 12px #490b80;
}

@media (hover:hover) {
    button:hover {
        background-color: white;
        color: #871de2;
        box-shadow: 0px 0px 10px grey;
    }
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

button.clear{
    margin-top: 5px;
    background-color: #414141;
}
@media (hover:hover) {
    button.clear:hover {
        background-color: white;
        color: #414141;
        box-shadow: 0px 0px 10px grey;
    }
}


.hero-image {
    background-image: url("thanos.jpg");
    background-color: #cccccc;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    background-attachment: fixed;
}