/* Header */
.sticky {
    overflow: hidden;
    padding: 0px 12px;
    background: #871de2;
    position: fixed;
    top: 0;
    margin-left: -10px;
    width: 100%;
    z-index: 999;
    opacity: 0.9;
}

h1 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 40px;
    font-weight: 90;
    line-height: 1.38;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    opacity: 1;
}


/* Option Buttons */
button.tippy {
    background-color: #871de2;
}

button.panera {
    background-color: #871de2;
}

button.sheetz {
    background-color: #871de2;
}

button.moes {
    background-color: #871de2;
    margin-top: 5px;
}

button.danks {
    background-color: #871de2;
}

button.fords {
    background-color: #871de2;
}

button.velocity {
    background-color: #871de2;
    margin-top: 5px;
}

button.social {
    background-color: #871de2;
}

button.east {
    background-color: #871de2;
}

button.bonchon {
    background-color: #871de2;
    margin-top: 5px;
}

button.chipotle {
    background-color: #871de2;
}

button.cava {
    background-color: #871de2;
}

button.jersey {
    background-color: #871de2;
    margin-top: 5px;
}

button.jimmy {
    background-color: #871de2;
}

button.coal {
    background-color: #871de2;
}

button.sarku {
    background-color: #871de2;
    margin-top: 5px;
}

button.cfa {
    background-color: #871de2;
}

button.wawa {
    background-color: #871de2;
}

div.options {
    position: absolute;
    height: 70px;
    width: 460px;
}

/* Function Buttons */
button {
    background-color: #871de2;
    border: none;
    color: white;
    height: 50px;
    width: 140px;
    font-size: 16px;
    cursor: pointer;
    border-radius:  100px;
}

div.Buttons {
    position: absolute;
    height: 70px;
    width: 460px;
}

button:hover{
    background-color: white;
    color: #871de2;
    box-shadow: 0px 0px 10px grey;
}